
*{
    margin:0px;
    padding:0px;
    border: none;
}
#main{
    background-color: beige;
    overflow: auto;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 48px;
    min-width: 300px;
}
#left{
    border-top: 7px solid;
    border-left: 6px solid;
    border-bottom: 8px solid;
    border-color: aqua;
    float: left;
    width: 20%;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: center;
    padding-top: 19px;
}
.in_left{
    padding: 0px;
    height: 164px;
}
.in_left img{
    width: 25%;
}
#logo{
    float: left;
    height: 492px;
    width: 74%;
    text-align: center;
    border-color: aqua;
    border-top: none;
    border-right: none;
    border-bottom: 6px solid;
    border-left: 5px solid;
    border-color: aqua;
}
#bottom
{
    float: left;
    padding-top: 16px;
    width: 75%;
    border-right: 5px solid;
    border-bottom: 8px solid;
    border-color: aqua;
    
}
.in_bottom{
    text-align: center;
    float: right;
    width: 33.3%;
    height: 168px;
}
.in_bottom img{
    width: 25%;
}
h1{
    font-size: 50px;
}
p{
    font-size: 10px;
}
.cen{
    position: relative;
    top:40%;
    bottom: 50%;
}